@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Bulletproof cross-browser scrollbar hiding utility for your category tabs */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
